﻿@{
    ViewBag.Title = "SeatChart";
}
<script src="http://threedubmedia.com/inc/js/jquery.event.drag-2.2.js"></script>
<script src="http://threedubmedia.com/inc/js/jquery.event.drag.live-2.2.js"></script>
<script src="http://threedubmedia.com/inc/js/jquery.event.drop-2.2.js"></script>
<script src="http://threedubmedia.com/inc/js/jquery.event.drop.live-2.2.js"></script>
<script src="http://threedubmedia.com/inc/js/excanvas.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="http://tinysort.sjeiti.com/src/jquery.tinysort.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

<script type="text/javascript">

    $(document).ready(function () {

        $("#closeBtn3").click(function () {

            $("#seatDiv>div").each(function () {

                if ($(this).attr("moved", "true") == false || $(this).position().top < 100) {
                    $(this).remove();


                }

            });
            $(".drag").removeClass("ui-selected");

            $("#seatDiv>div").appendTo(".draglist");
            $("#divSeatCreate").css("visibility", "hidden");
            $("#settingsDiv").css("z-index", "10");
        });

        $('*').keypress(function (event) {

            if (event.which == 100) {
                $('.ui-selected').remove();
            }

            if (event.which == 118) {
                $("#btn").val($(".ui-selected").length.toString());
            }

        });

        $(".option").change(function (event) {
            var id = $(this).find(':selected')[0].id;

            if (id == "option1") {

            }
            else if (id == "option2") {

            }

        });

        $("#srt2").click(function () {
            //birer birer ya da ikişer ikişer seçim sonucu
            var optionid = $(".option").find(':selected')[0].id;

            $('div.draglist>drag').tsort({ attr: 'id' });

            if ($(".option-order option:selected").val() == "1") {
                $('div.draglist>.ui-selected').tsort({ attr: 'left_x' });
            }
            else if ($(".option-order option:selected").val() == "2") {
                $('div.draglist>.ui-selected').tsort({ attr: 'left_x', order: 'desc' });
            }
            else if ($(".option-order option:selected").val() == "3") {
                $('div.draglist>.ui-selected').tsort({ attr: 'top_x' });
            }
            else if ($(".option-order option:selected").val() == "4") {
                $('div.draglist>.ui-selected').tsort({ attr: 'top_x', order: 'desc' });
            }

            var i = $("#txtStartNumber").val();
            $(".ui-selected").each(function () {
                if (optionid == "option1") {

                    $(this).html(i++);
                }
                else if (optionid == "option2") {

                    $(this).html(i++);
                    ++i;
                }

            });

            $('.ui-selected').each(function (i) {
                $(this).attr("seatno", $(this).text());
            });

        });

        $("#btnGroup").click(function () {

            $('.ui-selected').each(function (i) {

                $(this).attr("group", $("#txtGroup").val());
            });

        });

        $("#btnCreateJson").click(function () {

            var id = 0;
            $(".drag").each(function () {
                $(this).attr("id", id);
                ++id;
            });

            var JSon = {};
            var datalist = new Array();
     

            $(".drag").each(function () {

                jsonObj = new Array();

                jsonObj.push(parseInt($(this).attr("id")));
                jsonObj.push(parseInt($(this).attr("top_x")));
                jsonObj.push(parseInt($(this).attr("left_x")));
                jsonObj.push($(this).attr("group") + $(this).text());


                datalist.push(jsonObj);

            });

            alert(JSON.stringify(datalist));

        });

        $("#btn").click(function () {

            $("#divSeatCreate").css("visibility", "visible");
            $("#settingsDiv").css("z-index", "-10");



            for (var i = 1; i <= 75; ++i) {
                $("#seatDiv").append('<div id="' + i + '" class="drag" style=" position:relative; float:left; width:26px; height:26px; background-color:red; margin-right:5px; margin-bottom:5px;"></div>');

            };

            $(".drag").each(function () {
                $(this).css({ left: $(this).position().left });
                $(this).css({ top: $(this).position().top });

                $(this).attr("group", "");

            });

            $('.drag').css("position", "");

            $('.drag').click(function () {
                $(this).toggleClass("ui-selected");

            })
		  .drag("init", function () {
		      if ($(this).is('.ui-selected'))
		          return $('.ui-selected');
		  })
		  .drag(function (ev, dd) {
		      $(this).css({
		          top: dd.offsetY,
		          left: dd.offsetX
		      });
		      $(this).attr("top_x", $(this).position().top - $(".draglist").position().top);
		      $(this).attr("left_x", $(this).position().left - $(".draglist").position().left);
		      $(this).attr("moved", "true");
		  });

        });

        $(".draglist").selectable();
        $("#seatDiv").selectable();

    });
</script>
<style>
    select .option
    {
        text-align: center;
    }

    .ui-selected
    {
        background-color: blue !important;
    }

    .draglist
    {
      @*  border: 1px dashed #888;*@
        width: 1200px;
        height: 600px;
        margin: 0 auto;
    }

    .drag
    {
        position: absolute;
        border: 1px solid #89B;
        background: #BCE;
        height: 58px;
        width: 58px;
        cursor: move;
        margin-left: 10p;
    }

    #seatDiv
    {
        z-index: 400;
        background-color: rgb(212, 255, 192);;
    }
</style>




<div id="mainDivSeat" style="width: 1202px; height: 67px; margin-left: 67px; margin-top: 13px;">


<div id="divSeatCreate" style="width: 1202px; height: 0px; background-color: Red; visibility:hidden;">
    <a id="closeBtn2" style="width: 1200px; position: absolute;">
        <img alt="kapat" id="closeBtn3" src="../../Content/themes/base/images/close_button.gif"
            style="position: absolute; right: 5px; top: 5px; cursor: pointer;" />
    </a>
    <div id="seatDiv" style="margin-left: 1px; height: 100px; width: 1205px; margin:0 auto;">
    </div>
</div>



    <div id="settingsDiv" style="height: 110px; position: relative;">
        <div style="height: 30px;">
            <input type="button" id="btn" value="create button" style="position: relative;">
            <input type="button" id="btnCreateJson" value="export json" style="position: relative;">
            <input type="button" id="btnCreatefromJson" value="export html" style="position: relative;">
        </div>
        <div style="width: 1200px; height: 30px;">
            <div style="width: 200px; float: left;">
                <input type="text" id="txtGroup" style="width: 22px; height: 18px; text-align: center;">
                <input type="button" id="btnGroup" value="grup ismi ver" style="position: relative;
                    height: 26px;">
            </div>
            <div style="float: right;">
                Seçilen koltukları
                <input type="text" id="txtStartNumber" style="width: 22px; height: 18px; text-align: center;">
                numaradan başlayarak
                <select class="option-order" style="height: 25px;">
                    <option name="option1" id="option1" value="1">soldan sağa</option>
                    <option name="option1" id="option1" value="2">sağdan sola</option>
                    <option name="option2" id="option2" value="3">yukarıdan aşağı</option>
                    <option name="option2" id="option2" value="4">aşağıdan yukarı</option>
                </select>
                <select class="option" style="height: 25px;">
                    <option value="" disabled="disabled" selected="selected">numaralandır</option>
                    <option name="option2" id="option1" value="2">1,2,3 şeklinde numaralandır</option>
                    <option name="option1" id="option2" value="1">1,3,5 / 2,4,6 şekilnde numaralandır</option>
                </select>
                <input type="button" value="numaralandır" id="srt2" style="position: relative; height: 27px;">
            </div>
        </div>
    </div>

    
<div style=" position:absolute;   width: 1200px; height: 600px; margin: 0 auto; border: 2px dashed #888; z-index: -1;">
    </div>


    <div class="draglist">
    </div>
</div>