﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
     <script src="../../Scripts/bootstrap.min.js" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/themes/base/bootstrap.min.css")" rel="stylesheet" type="text/css" />
   
 

</head>
<body>
    @RenderBody()
</body>
</html>